body {
	margin: 0px;
	padding: 0px;
	border-radius:10px;
}
#wrapper {
	width: 758px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-left-color: #999;
	height: auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
p {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #000000;

}

#wrapper #logo {
	height: 110px;
	background-color: #FFF;
	border-radius:10px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #navigation {
	height: 50px;
	font-family: "Cooper Black";
	border-radius:10px;
}
#wrapper #bodyArea {
	width: 758px;
	height: auto;
	background-color: #FFF;
	font-family: "Cooper Black";
}
